
.domain {
  stroke: #aaaaaa;
}

.y-axis text {
  fill: #fff;
  font-weight: 400;
  font-size: 1rem;
  pointer-events: none;
}

.paintings-y-axis text,
.age-y-axis text {
  font-size: .9rem;
}

#nationality-dropdown,
#movements-dropdown{
  position: absolute;
  bottom: 22px;
  right: 20px;
}
