/*
font-family: futura-pt,sans-serif;
font-weight: 400;
font-style: normal;

font-family: futura-pt,sans-serif;
font-weight: 300;
font-style: normal;

font-family: futura-pt-condensed,sans-serif;
font-weight: 400;
font-style: normal;

font-family: futura-pt-condensed,sans-serif;
font-weight: 800;
font-style: normal;
*/


*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: futura-pt,sans-serif;
  font-weight: 400;
  font-style: normal;
}

rect {
  cursor: pointer;
}


/* .App div {
  border: 1px solid #333;
} */


.App{
  position: relative;
  top: .5vh;
  margin: 2vh auto;
  width: 1400px;
  height: 720px;
}

#main-chart-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#header-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 45%;
  height: 15%;
  /* border: 1px solid #333; */
}

#text-container {
  position: absolute;
  top: .5%;
  left: 48%;
  width: 30%;
  height: 15%;
  /* border: 1px solid #333; */
}

#text-container p {
  margin-bottom: 5px !important;
}

#title-img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

#secondary-chart-container {
  position: absolute;
  top: 15%;
  left: 0;
  width: 45%;
  height: 40%;
  /* border: 1px solid #333; */
}

#credit-container {
  position: absolute;
  top: 75%;
  left: 0;
  width: 5%;
  height: 5%;
  /* border: 1px solid #333; */
}

#information-container {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 42%;
  height: 30%;
  /* border: 1px solid #333; */
}

#carousel-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  /* border: 1px solid #333; */
}

.image-holder {
  height: 185px;
   width: 100%;
   text-align: center;
}
 .carouselImage {
   max-width:100%;
   max-height:100%;
   margin-left: auto;
  	margin-right: auto;
  	display: block;
 }

:focus {
   outline: none;
 }

.ui.tabular.menu .active.item {
  font-weight: 400 !important;
}

.slick-dots li button:before{
  content:'●';
  font-size: 1rem;
}















/* END */
