/*
font-family: futura-pt,sans-serif;
font-weight: 400;
font-style: normal;

font-family: futura-pt,sans-serif;
font-weight: 300;
font-style: normal;

font-family: futura-pt-condensed,sans-serif;
font-weight: 400;
font-style: normal;

font-family: futura-pt-condensed,sans-serif;
font-weight: 800;
font-style: normal;
*/


* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: futura-pt, Lato,'Helvetica Neue',A rial, Helveticasans-serif;
  font-weight: 400;
  font-style: normal;
}

rect {
  cursor: pointer;
}


/* .App div {
  border: 1px solid #333;
} */


.App{
  position: relative;
  top: .5vh;
  margin: 2vh auto;
  width: 1400px;
  height: 720px;
}

#main-chart-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#main-chart-hint {
  position: absolute;
  top: 260px;
  right: 270px;
  width: 185px
}

#copyright-icon{
  position: absolute;
  top: 5px;
  right: 220px;
  z-index: 99;
  cursor: pointer;
}

i.black.icon {
  color: #cccccc !important;
}

#header-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 45%;
  height: 15%;
  /* border: 1px solid #333; */
}

#text-container {
  position: absolute;
  top: .5%;
  left: 48%;
  width: 30%;
  height: 15%;
  /* border: 1px solid #333; */
}

#text-container p {
  margin-bottom: 5px !important;
}

#title-img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

#secondary-chart-container {
  position: absolute;
  top: 15%;
  left: 0;
  width: 45%;
  height: 40%;
  /* border: 1px solid #333; */
}

#secondary-chart-hint{
  position: absolute;
  bottom: -100px;
  left: 5%;
}

#reset-button {
  position: absolute;
  top: 9px;
  right: 0;
  font-family: futura-pt, Lato,'Helvetica Neue',A rial, Helveticasans-serif !important;
  background: #cccccc;
  color: #fff;
  font-weight: 400;
  padding: 4px 10px 5px 10px;
}

#reset-button:hover {
  top: 8px;
}

#reset-button:active {
  top: 9px;
}

#credit-container {
  position: absolute;
  top: 75%;
  left: 0;
  width: 5%;
  height: 5%;
  /* border: 1px solid #333; */
}

#information-container {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 44%;
  height: 30%;
  /* border: 1px solid #333; */
}

#carousel-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  /* border: 1px solid #333; */
}

#description-container {
  position: absolute;
  top: 0;
  left: 42%;
  width: 55%;
  height: 100%;
}

#description-container h2 {
  line-height: 0 !important;
  font-family: futura-pt, Lato,'Helvetica Neue',A rial, Helveticasans-serif !important;
  padding-top: 10px;
}

#description-container p {
  padding-top: 10px;
  font-family: futura-pt, Lato,'Helvetica Neue',A rial, Helveticasans-serif !important;
}


.image-holder {
  height: 185px;
   width: 100%;; /*can be anything*/
  position: relative;
}
 .carouselImage {
     max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
 }

:focus {
   outline: none;
 }

.ui.tabular.menu .active.item {
  font-weight: 400 !important;
}

.slick-dots li button:before{
  content:'●';
  font-size: 1rem;
}















/* END */
